.featured__container
    display: flex
    flex-direction: row
    width: 100%
    justify-content: space-around
    flex: 1

.featured__col
    tile()
    display: flex
    flex-direction: column
    padding: .5em
    margin: .5em
    flex: 1
    .base__title
        text-align: center

    .material-icons
        align-self: center
        font-size: 150px

.featured__row
    tile()
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-around
    padding: .5em
    margin: .5em
    flex: 1

    .base__title
        text-align: center

    .material-icons
        align-self: center
        font-size: 150px
