.form
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 1em
    label
        margin-bottom: .5em
        margin-top: .5em
    input, textarea
        padding: .5em
