/*Variable Declarations*/
$primary = #E3A95A
$secondary = rgb(128, 204, 255)
/*Main Styles*/
@import 'functions.styl'
@import 'base.styl'
/*Layouts*/
@import 'layouts/layout.styl'
@import 'layouts/adminPanel.styl'

/*Components*/
@import 'components/featured.styl'
@import 'components/login.styl'
@import 'components/detailedList.styl'
@import 'components/form.styl'
@import 'components/productIndex.styl'
@import 'components/productShow.styl'
@import 'components/question.styl'
