.main__header
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    padding-left: 15%
    padding-right: 15%
    position: fixed
.main__nav
    display: flex
    align-items: center
.main__title
    display: flex
    align-items: center
.main__content
    height: 1600px
    padding-top: 52px
    padding-bottom: 66px
.transparency
    background-color: rgba(255, 255, 255, 0.6);
.home-background
    background: url(/../image/wave.jpg) no-repeat center center fixed
    background-size: cover
