.main__header
    background-color: rgba(230, 230, 230, 0.7)
    display: flex
    align-items: center
    padding-left: 10%
    padding-right: 10%
    border-bottom: 1px solid grey

.main__logo
    height: 100px
    width: 100px

.main__title
    margin-left: auto

.main__nav
    display: flex
    justify-content: center
    align-items: center
    margin-left: auto
    &--item
        link()
        font-weight: bold
        display: block
        padding: 20px 30px
        transition: all ease-in-out .3s
    &--item:hover
        color: $primary
.main__content
    display: flex
    flex-direction: column
    min-width: 100%
    padding: 2em
    flex: 1
